<!doctype html>

<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Математический квест</title>

  <script src="assets/modules/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="assets/modules/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
  <script src="assets/modules/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
  <script src="assets/modules/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/modules/vue.min.js" type="text/javascript"></script>
  <script src="assets/modules/lodash.js" type="text/javascript"></script>

  <link rel="stylesheet" href="css/style.css" type="text/css">

  <link rel="icon" href="assets/img/logo2.png" type="image/x-icon">
  <link rel="shortcut icon" href="assets/img/logo2.png" type="image/x-icon">


  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/animate.min.css" type="text/css">
</head>

<body>
  <div id="app" class="content-container fill bg">
    <transition name="fade">
      <div class="start-page fill" v-if="isStartPageVisible">
        <div class="start-page__first-word">Математический</div>
        <div class="start-page__second-word">квест</div>
        <a class="start-page__button" @click="startHandle">Начать</a>
      </div>
    </transition>
    <div class="header-container fill"></div>
    <div class="main-container fill">
      <div class="question-container">
        <div class="question-container__question" v-html="question.text"></div>
        <div class="question-container__answer-container">
          <transition name="fade">
            <a class="question-container__button button" :class="classes.answerButton"
               @click="answerHandle(question.id)" v-if="!isAnswerVisible">Ответ</a>
          </transition>
          <transition name="fade">
            <div class="question-container__answer" v-if="isAnswerVisible">
              <span>Ответ:</span>
              <span v-html="question.answer"></span>
            </div>
          </transition>
        </div>
      </div>
    </div>
    <div class="footer-container fill">
      <div class="button-container">
        <a class="button category-one" @click="categoryClickHandle(categories.one)">{{ categories.one }}</a>
      </div>
      <div class="button-container">
        <a class="button category-two" @click="categoryClickHandle(categories.two)">{{ categories.two }}</a>
      </div>
      <div class="button-container">
        <a class="button category-three" @click="categoryClickHandle(categories.three)">{{ categories.three }}</a>
      </div>
      <div class="button-container">
        <a class="button category-random" @click="categoryClickHandle('random')">Случайная категория</a>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>
